.Guide {
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 100px;
  min-width: calc(100vw);
  padding-right: 100px;
  padding-bottom: 100px;
}

.Heading {
  position: absolute;
  top: 1%;
  left: 42%;
  font-size: 3vw;
  font-weight: 600;
  letter-spacing: 1.2;
  color: #4a52e2;
}

.cara {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
